---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Shorten | Activa tu cuenta"
    content="esta seccion permite activar una cuenta, ya registrada"
>
    <main class="min-h-screen flex justify-center items-center">
        <div class="max-w-1xl">
            <h1 class="text-white text-2xl">
                Hola gracias por activar su cuenta, ahora solo debe iniciar
                sesion
            </h1>
            <a
                href="/login"
                class="m-1 p-2 flex justify-center bg-white text-black w-full hover:opacity-85"
                disabled
                id="login__button"
            >
                Cargando...
            </a>
        </div>
    </main>
</Layout>

<script>
    import axios from "axios";
    let params = new URLSearchParams(document.location.search);
    let token = params.get("token"); // is the string "Jonathan"

    const button = $("#login__button");

    axios
        .get(`${API_URL}/auth/activate/${token}`)
        .then((response) => {
            if (response.status == 200) {
                button.disabled = 0;
                button.innerText = "Iniciar sesion";
            }
        })
        .catch((error) => {
            console.log(error);
        });
</script>

<style>
    main {
        background-color: #131a1d;
    }
</style>
