---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
import Waiting from "../components/Waiting.astro";
---

<Layout title="Shorten | El acortador de link que crece con vos" content="TODO">
	<Landing />
	<About />
	<Waiting />
</Layout>

<style></style>
