---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Shorten | Registro de tu cuenta"
    content="Esta seccion permite crear un nuevo usuario en la aplicacion, que esperas para registrate?"
>
    <section class="flex min-h-screen d-flex justify-center pt-10">
        <div
            class="bg-white flex flex-col h-full rounded-lg w-full m-10 md:w-1/2 lg:w-1/3 py-10 px-2 md:px-6"
        >
            <h1 class="text-center text-3xl md:text-4xl">
                Shorten | Iniciar Sesion
            </h1>
            <form id="login__form" class="w-full h-max grid gap-4 text-xl pt-2">
                <span class="py-1 text-red-700" id="error_login"></span>
                <div class="grid">
                    <label class=""> Email </label>
                    <input
                        class="bg-gray-400 p-1 placeholder:text-gray-500 pl-2 rounded-lg focus:outline-none"
                        placeholder="email@email.com"
                        type="text"
                        name="email"
                        id="email_input"
                    />
                </div>
                <div class="grid">
                    <label class=""> Contraseña </label>
                    <input
                        class="bg-gray-400 placeholder:text-gray-500 pl-2 rounded-lg focus:outline-none p-1"
                        placeholder="Contraseña"
                        type="text"
                        name="password"
                        id="password_input"
                    />
                </div>
                <button class="py-3 text-white hover:opacity-90 rounded-lg">
                    Iniciar Sesion
                </button>
                <a href="/register" class="underline"
                    >No tienes una cuenta?, registrate</a
                >
            </form>
        </div>
    </section>
</Layout>

<script>
    import axios from "axios";

    const form = $("#login__form");
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        axios
            .post(`${API_URL}/auth/login`, form)
            .then((response) => {
                if (response.status == 200) {
                    sessionStorage.setItem("user_token", response?.data);
                    window.location.href = "/panel";
                }
            })
            .catch((error) => {
                $("#error_login").innerText = error?.response?.data;
            });
    });

    console.log(axios.Axios);
</script>

<style>
    section,
    button {
        background-color: #131a1d;
    }
    input {
        box-sizing: border-box !important;
    }
    input:focus {
        border: 1px solid #131a1d;
    }
</style>
