---
import LinkCard from "../components/LinkCard.astro";
import PanelLayout from "../layouts/PanelLayout.astro";
---

<PanelLayout
    title=" Shortener | Panel de usuario"
    content="Este es el panel del usuario, puedes administrar tus links"
>
    <main class="bg-primary min-h-screen p-2 items-center flex flex-col">
        <h1 class="text-3xl text-white">Panel</h1>
        <section class="bg-white w-full md:w-4/6 p-2">
            <button class="w-full p-2 bg-primary text-white rounded-lg"
                >Nuevo Link
            </button>
            <div class="py-3">
                <LinkCard
                    title="hola"
                    origin="http://taieldeluca.com.ar"
                    redirect="http://hola.com.ar"
                />
            </div>
        </section>
    </main>
</PanelLayout>

<script>
    import { jwtDecode } from "jwt-decode";

    if (USER_TOKEN) {
        const data = jwtDecode(USER_TOKEN);
        if (data.exp) {
            if (Date.now() >= data.exp * 1000) {
                window.location.href = "/login";
            }
        }
    } else {
        window.location.href = "/login";
    }
</script>
