---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Shorten | Registro de tu cuenta"
    content="Esta seccion permite crear un nuevo usuario en la aplicacion, que esperas para registrate?"
>
    <section class="flex min-h-screen d-flex justify-center pt-10">
        <div
            class="bg-white flex flex-col h-full rounded-lg w-full m-10 md:w-1/2 lg:w-1/3 py-10 px-2 md:px-6"
        >
            <h1 class="text-center text-3xl md:text-4xl">
                Shorten | Crear tu cuenta
            </h1>
            <form
                action=""
                id="register_form"
                class="w-full h-max grid gap-4 text-xl pt-2"
            >
                <span class="text-red-700" id="error_register"></span>
                <span class="text-green-700" id="success_register"></span>

                <div class="grid">
                    <label class=""> Email </label>
                    <input
                        class="bg-gray-400 p-1 placeholder:text-gray-500 pl-2 rounded-lg focus:outline-none"
                        placeholder="email@email.com"
                        type="email"
                        name="email"
                    />
                </div>
                <div class="grid">
                    <label class=""> Contraseña </label>
                    <input
                        class="bg-gray-400 placeholder:text-gray-500 pl-2 rounded-lg focus:outline-none p-1"
                        placeholder="Contraseña"
                        type="password"
                        name="password"
                        id="register__password"
                    />
                </div>
                <div class="grid">
                    <label class=""> Repetir Contraseña </label>
                    <input
                        class="bg-gray-400 placeholder:text-gray-500 pl-2 rounded-lg focus:outline-none p-1"
                        placeholder="Repetir contraseña"
                        type="password"
                        name="repeat_password"
                        id="register__repeatPassword"
                    />
                </div>

                <button class="py-3 text-white hover:opacity-90 rounded-lg">
                    Registrarse
                </button>
                <a href="/login" class="underline"
                    >Ya tienes una cuenta?, inicia sesion</a
                >
            </form>
        </div>
    </section>
</Layout>

<script>
    import axios from "axios";

    const errorSpan = $("#error_register");
    const successSpan = $("#success_register");
    const form = $("#register_form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        if (
            $("#register__repeatPassword").value !==
            $("#register__password").value
        ) {
            errorSpan.innerText = "Las contraseñas deben ser iguales";
            return;
        }
        axios
            .post(`${API_URL}/auth/register`, form)
            .then((response) => {
                if (response.status == 200) {
                    successSpan.innerText = response.data;
                }
            })
            .catch((error) => {
                console.log(error);
                if (error.response.data) {
                    errorSpan.innerText = error.response.data;
                }
            });
    });
</script>

<style>
    section,
    button {
        background-color: #131a1d;
    }
    input {
        box-sizing: border-box !important;
    }
    input:focus {
        border: 1px solid #131a1d;
    }
</style>
