---
import Burger from "./icons/Burger.astro";
import Close from "./icons/Close.astro";
import Trash from "./icons/Trash.astro";

const { title, origin, redirect } = Astro.props;
---

<div class="w-full rounded-lg justify-between p-2 flex bg-gray-200">
    <div class="grid gap-1">
        <div class="text-xl font-semibold">
            {title}
        </div>
        <div class="opacity-70">
            {origin}
        </div>
        <div>
            {redirect}
        </div>
    </div>
    <div class="flex flex-col justify-end">
        <span class="hover:opacity-50">
            <Trash height="20px" width="20px" color="inherit" />
        </span>
    </div>
</div>
